name: Test package

on:
  push:
    # The CI is executed on every push on every branch
    branches:
      - refactor-vampy
  pull_request:
    # The CI is executed on every pull request to the main branch
    branches:
      - refactor-vampy

  schedule:
    # The CI is executed every day at 8am
    - cron: "0 8 * * *"
jobs:
  test-code:
    # This code depends on the result of check-code
    # runs-on: ${{ matrix.os }}
    runs-on:  ubuntu-22.04
    container: quay.io/fenicsproject/stable:latest

#    strategy:
#      matrix:
#        os: [ubuntu-22.04, windows-latest, macos-12]
#        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v3

      - name: Install package
        run: pip install .[test]

      - name: Run tests
        run: python -m pytest

      - name: Upload coverage report as artifact
        if: matrix.os == 'ubuntu-22.04' && matrix.python-version == '3.10'
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: htmlcov
          if-no-files-found: error
      